@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Urbanist', sans-serif;
    min-width: 700px;
}

header {
    width: 100%;
    height: auto;
}


/* -------arriba------------ */

header > div {
    background: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),url('../img/fondo.png');
    background-repeat: repeat;
    background-size: 150px;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header div a {
    height: 54px;
    width:200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */

header div a img {
    height: 54px;
    width:200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   max-height: 40px;
}

#barra-busqueda {
    
    height: 54px;
    text-align: center;
    line-height: 54px;
    
    width:60%;
}
#barra-busqueda form input {
    border: 2px solid #DE2286;
    border-radius:20px 0 0 20px;
    outline: none;
    padding-left: 10px;
    height: 40px;
    width: 70%;
    border-right: none;
    font-size: 18px;
    /* line-height: 40px; */
    
}

#barra-busqueda form button {
    border: 2px solid #DE2286;
    border-radius: 0 20px 20px 0;
    height: 40px;
    width: 40px;
    border-left: none;
    background-color: #fff;
    font-size: 18px;
    /* line-height: 40px; */
}
 #barra-busqueda form button img{
    width: 15px;
    
    
}

#redes-sociales {
    width: 180px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#redes-sociales img {
    width: 35px;
    height: 35px;
    padding: 1px;
}
#boton-carrito img{
    border-radius: 50%;
    width: 35px;
    display: block;
    border: 2px solid #DE2286;
    padding: 4px;
    background-color: white;
}
/* ----header abajo---- */

header nav {
    box-shadow: 0 1px 1px 0 #828282;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header nav ul {
    background-color: #fff;
    border-radius: 27px;
    /* border: 1px solid blue; */
    list-style: none;
    padding: 0;
    width: 70%;
    height: 54px;
    display: flex;
    justify-content:center;
    align-items: center;
}


header nav ul li a {
   text-decoration: none; 
   /* border: 1px solid blueviolet; */
   width: 100px;
   height: 40px;
   display: block;
   background-color: #ffffff;
   color: rgb(33, 33, 33);
   font-weight: 400;
   font-size: 1.2rem;
   text-align: center;
   line-height: 40px;
}

header nav ul li a::after {
    content: '';
    display: block;
    background: #DE2286;
    width: 0;
    height: 3px;
    transition: all 350ms;
}
 
header nav ul li a:hover::after {
    width: 100%;
    
}


main {
    height: 500px;
}

footer {
    background-color:magenta;
    color: white;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
}
