main {
    height: auto;
    text-align: center;
    background-color: #F1F1F1;
    /* padding: 25px; */
}

main .cards-container {
    display: flex;
    flex-wrap: wrap;

    justify-content:space-around;
}

section img {
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}
section img:hover {
    transform:rotate(-15deg);
}

section:hover {
    border: 1px solid #DE2286;
    box-shadow: 1px 1px 3px 0 #828282;
    transform: scale(1.2);
    
}

.precio{
    color:rgb(75, 75, 75);
    font-size: 25px;
}


section {
    border: 1px solid lightgrey;
    width: 300px;
    padding: 10px;
    background-color:white;
    color:rgb(75, 75, 75);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0 #828282;
}

section h4 {
    font-size: 18px;
    margin-bottom: 30px;
    text-decoration:;
    color:rgb(75, 75, 75);
}

.section-cards-header h1 {
    color:rgb(75, 75, 75);
    margin: 20px 0 0 0;
    background-color: #F1F1F1;

}

.cards-container section p {
    margin-bottom: 10px;
}


